/**
  r-section-project
**/

.r-section-project {
  position: relative;
}

.r-section-project__title,
.r-section-project__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  user-select: none;
  margin: 0 !important;
  text-align: center;
}

.r-section-project__image {
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 750ms;
  opacity: 1;
}

// .show-title permet d'afficher soit le titre soit le text desciprtif.
// la class .show-title se met

.r-section-project__title {
  display: block;
  mix-blend-mode: overlay;
}
.r-section-project__desc  {
  display: none;
  color: black;
}

.show-title {
  .r-section-project__image {
    opacity: .5;
  }

  .r-section-project__title {
    display: none
  }
  .r-section-project__desc  {
    display: block
  }
}

// fin --> .show-title permet d'afficher soit le titre soit le text desciprtif.
// fin --> la class .show-title se met

/**
  r-section-cv
**/
.r-section-cv {
  box-sizing: border-box;
  text-align: right;
  height: 100vh;
  padding: $gutter-width;
}

.r-section-cv__item {
  @include remove-margin-child;
}

.r-section-cv__item + .r-section-cv__item {
  margin-top: 5rem;
}

.r-section-cv__item__title {
  margin: 0;
}

.r-section-cv__item__list {
  margin-top: 0;
}

.r-scaling-height {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.r-scaling-height__child {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  transform: scale(1);
  transform-origin: top right;
}
