@font-face {
  font-family: "appFont";
  font-style: normal;
  font-weight: 400;
  src: url("./font/regular.otf");
}

@font-face {
  font-family: "appFont";
  font-style: normal;
  font-weight: 500;
  src: url("./font/medium.otf");
}

@font-face {
  font-family: "appFont";
  font-style: normal;
  font-weight: 300;
  src: url("./font/light.otf");
}
